@font-face {
    font-family: 'CurlzMT';
    src: url('../fonts/woff/CurlzMT.woff2') format('woff2'),
        url('../fonts/woff/CurlzMT.woff') format('woff'),
        url('../fonts/ttf/CurlzMT.ttf') format('ttf');

    font-display: swap;
}

@font-face {
    font-family: 'SSP-Black';
    src: url('../fonts/woff/SourceSansPro-Black.woff2') format('woff2'),
        url('../fonts/woff/SourceSansPro-Black.woff') format('woff'),
        url('../fonts/ttf/SourceSansPro-Black.ttf') format('ttf');

    font-display: swap;
}

@font-face {
    font-family: 'SSP-Bold';
    src: url('../fonts/woff/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/woff/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/ttf/SourceSansPro-Bold.ttf') format('ttf');

    font-display: swap;
}

@font-face {
    font-family: 'SSP-Regular';
    src: url('../fonts/woff/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/woff/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/ttf/SourceSansPro-Regular.ttf') format('ttf');

    font-display: swap;
}

@font-face {
    font-family: 'SSP-Semibold';
    src: url('../fonts/woff/SourceSansPro-Semibold.woff2') format('woff2'),
        url('../fonts/woff/SourceSansPro-Semibold.woff') format('woff'),
        url('../fonts/ttf/SourceSansPro-Semibold.ttf') format('ttf');

    font-display: swap;
}

@font-face {
    font-family: 'ThirstySED';
    src: url('../fonts/woff/ThirstyScriptExtraboldDemo.woff2') format('woff2'),
        url('../fonts/woff/ThirstyScriptExtraboldDemo.woff') format('woff'),
        url('../fonts/ttf/ThirstyScriptExtraboldDemo.ttf') format('ttf');

    font-display: swap;
}