body {
    font-family: "SSP-Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #efefef;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ol {
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.section-header {
    text-align: center;
    &__subtitle_black {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        font-size: 27px;
        letter-spacing: 1.9px;
        margin-bottom: 32px;

        @media all and (max-width: 480px) {
           font-size: 19px;
        }

        @media all and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__subtitle_multicolored {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        font-size: 30px;
        letter-spacing: 2.6px;
        text-transform: capitalize;

        @media all and (max-width: 480px) {
            font-size: 22px;
        }

        @media all and (max-width: 767px) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &__text {
        max-width: 768px;
        margin: 0 auto;
        line-height: 33px;

        @media all and (max-width: 480px) {
            max-width: 280px;
            font-size: 12px;
            line-height: 19px;
        }

        @media all and (max-width: 767px) {
            max-width:430px;
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__span {
        color: #ff5101;
    }
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #8d8d8d;
    opacity: 1; 

    @media all and (max-width: 480px) {
        width: 9px;
        height: 9px;
        margin: 0 1px;
    }

    @media all and (max-width: 767px) {
        width: 13px;
        height: 13px;
        margin: 0 3px;
    }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
    outline: none;

    @media all and (max-width: 767px) {
        margin: 0 3px;
    }
}

.swiper-pagination-bullet-active {
    background-color: #ff3d00;
}

@media all and (min-width: 796px) {
    .swiper-pagination {
        display: none;
    }
}

// стрелки swiper слайдера
.swiper-button-disabled {
    opacity: 0;
}
