@import 'fonts.scss';
@import 'settings.scss';

.wr-main {
    background-image: url("../img/dest/header/main-bg.jpg");
    background-size: cover;
    // height: 100vh;
    height: 998px;
    background-position: center bottom;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    font-family: "CurlzMT", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 59px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 31px;
    letter-spacing: -2.5px;

    @media all and (max-width: 424px) {
        font-size: 29px;
    }

    @media all and (max-width: 767px) {
        font-size: 37px;
    }

    @media all and (max-width: 1024px) {
        font-size: 50px;
    }
    
    span {
        font-size: 39px;
        letter-spacing: -3px;

        @media all and (max-width: 424px) {
            font-size: 18px;
        }

        @media all and (max-width: 767px) {
            font-size: 22px;
        }

        @media all and (max-width: 1024px) {
            font-size: 30px;
        }
    }
}



.nav-header {
    display: flex;
    align-items: center;
}

.nav {
    padding-top: 5px;
    
    ul {
        display: flex;
        letter-spacing: 0.1px;

    }

    li {
        margin-left: 21px;
    }

    a {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        color: #fff;
        text-transform: uppercase;

        @media all and (max-width: 1024px) {
            font-size: 14px;
        }
    }
}

.burger {
    position: relative;
    width: 13px;
    height: 12px;
    margin-left: 21px;
    margin-top: 7px;

    span {
        background-color: #fff;
        position:absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 5px;
        transition: all 0.3s ease 0s;

    }
}
.burger::before,
.burger::after {
    content: "";
    background-color: #fff;
    position:absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}

@media all and (max-width: 767px) {
    .nav {
        position: fixed;
        top: 18px;
        right: -100%;
        width: 220px;
        height: 220px;
        background-color: #ff5400;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        z-index: 10;
        display: flex;
        align-items: center;

        &.active {
            right: 0;
        }

        ul {
        flex-direction: column;
        }

        li {
            margin-bottom: 15px;
        }
    }

    .burger {
        position: absolute;
        top: 27px;
        right: 17px;
        width: 30px;
        height: 20px;
        z-index: 10;
        cursor: pointer;

        &.active {
            position: fixed;
        }

        & span {
            top: 9px;
        }

        &.active::before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
            
        }
    }

}

@media all and (max-width: 424px) {
    .burger {
        width: 24px;
        height: 16px;

        & span {
            top: 7px;
        }

        &.active::before {
            transform: rotate(45deg);
            top: 7px;
        }
        &.active::after {
            transform: rotate(-45deg);
            bottom: 7px;
        }
    }
}

.wr-home {
    padding-top: 12vh;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items:flex-end;

        > p {
            font-size: 18px;
            color: #fff;
            width: 610px;
            text-align: right;
            line-height: 35px;
            margin-top: 56px;
            margin-right: -22px;
            background-color: rgba(0, 0, 0, .21);
            border-radius: 10px;
            padding: 12px 22px 10px 25px;
            box-sizing: border-box;

            @media all and (max-width: 424px) {
                font-size: 11px;
                line-height: 15px;
                width: 293px;
                margin-top: 19px;
                padding-left: 10px;
            }

            @media all and (max-width: 1024px) {
                font-size: 13px;
                margin-top: 36px;
                line-height: 25px;
                width: 455px;
            }


        }
    }

    .title {
        font-family: "SSP-Black", Arial, Helvetica, sans-serif;
        text-align: right;
        text-transform: capitalize;
        position: relative;

        p {
            color: #ff5400;
            margin-bottom: 0px;
            margin-top: 50px;
            font-size: 48px;
            letter-spacing: 0.2px;

            @media all and (max-width: 424px) {
                font-size: 29px;
            }

            @media all and (max-width: 767px) {
                font-size: 35px;
            }

            @media all and (max-width: 1024px) {
                font-size: 40px;
            }

            @media all and (max-width: 1366px) {
                margin-top: 0px;
            }
        }

        h1 {
            color: #fff;
            font-size: 48px;
            margin: 0;
            padding-top: 2px;

            @media all and (max-width: 424px) {
                font-size: 29px;
            }

            @media all and (max-width: 767px) {
                font-size: 35px;
                padding-top: 0;
            }
            
            @media all and (max-width: 1024px) {
                font-size: 40px;
            }
        }

        h1::after {
            content: " ";
            width: 138px;
            height: 3px;
            background-color:  #ff5400;
            position: absolute;
            top: 221px;
            right: 2px;

            @media all and (max-width: 424px) {
                top: 93px;
                width: 75px;
            }

            @media all and (max-width: 1024px) {
                top: 122px;
                width: 122px;
            }
            @media all and (max-width: 1366px) {
                top: 160px;
            }
            @media all and (max-width: 767px) {
                top: 125px;
            }

        }

        span {
            font-size: 60px;

            @media all and (max-width: 424px) {
                font-size: 39px;
            }

            @media all and (max-width: 767px) {
                font-size: 49px;
            }
        }

        

    }
    
    .btn {
        font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
        color: #ff4800;
        font-size: 20px;
        text-transform: capitalize;
        width: 190px;
        height: 55px;
        border: 3px solid #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-top: 22px;
        margin-right: 45px;
        margin-bottom: 15px;

        @media all and (max-width: 424px) {
            font-size: 13px;
            width: 115px;
            height: 30px;
            margin-top: 0;
        }

        @media all and (max-width: 1024px) {
            font-size: 15px;
            width: 140px;
            height: 40px;
            margin-top: 10px;
            border-width: 2px;
        }

        @media all and (max-width: 1366px) {
            margin-top: 5px;
        }
    }
}

// секция intro

.wr-intro {
    padding-top: 55px;
    padding-bottom: 136px;

    @media all and (max-width: 424px) {
        padding-bottom: 15px;
    }

    @media all and (max-width: 767px) {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 110px;

        @media all and (max-width: 424px) {
            padding: 0 15px;
        }
    }

    h2 {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        font-size: 30px;
        letter-spacing: 2.6px;
        margin-top: 31px;
        text-transform: capitalize;

        @media all and (max-width: 424px) {
            font-size: 22px;
            margin-top: 15px;
        }

        span {
            color: #ff5101;
        }
    }

    p {
        margin-top: 36px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.4px;

        @media all and (max-width: 424px) {
            font-size: 13px;
            line-height: 23px;
            margin-top: 0;
        }
    }
}

// секция services

.wr-services {
    background-color: #dfe3e3;
    padding-top: 87px;
    padding-bottom: 50px;

    @media all and (max-width: 424px) {
        padding-top: 23px;
        padding-bottom: 8px;
    }

    @media all and (max-width: 767px) {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;

        @media all and (max-width: 424px) {
            justify-content: center;
        }
        
        @media all and (max-width: 767px) {
            justify-content: space-around;
        }

        @media all and (max-width: 1024px) {
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 702px;
        }
    }

    &__box {
        margin-left: 15px;
        
        @media all and (max-width: 424px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}

.box__icon_clock {
    margin-left: -23px;

    @media all and (max-width: 424px) {
        margin: 0 auto;
    }
}

.box__icon_aircraft {
    margin-top: 8px;
}

.box__chapter {
    font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    margin-left: -20px;
    margin-bottom: 29px;

    @media all and (max-width: 424px) {
        margin-bottom: -4px;
        margin-left: 0;
        font-size: 15px;
    }

    &_color_blue {
        color: #0072ff;
    }

    &_color_orange {
        color: #ff8309;
    }

    &_color_purple {
        color: #c602ff;
    }

    &_color_pink {
        color: #fb016b;
    }
}
.box__list {
    line-height: 25px;
    letter-spacing: 0.75px;
    font-size: 15px;

    @media all and (max-width: 424px) {
       font-size: 13px;
       line-height: 19px;
    }
}


// секция articles

.wr-articles {
    padding-top: 71px;
    padding-bottom: 141px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 34px;
    }

    &__subtitle_black {
        margin-bottom: 35px;
    }
}

.wr-articles__box {
    min-width: 1350px;
    position: relative;
    margin-top: 100px;
    height: 400px;

    @media all and (max-width: 424px) {
        min-width: 400px;
        height: 240px;
        margin-top: 13px;
    }

    @media all and (max-width: 767px) {
        margin-top: 34px;
    }

    @media all and (max-width: 1111px) {
        min-width: 895px;
    }

    @media all and (max-width: 1366px) {
        min-width: 1200px;
    }
}

.articles-slider {
    width: 1203px;
    height: 360px;

    @media all and (max-width: 424px) {
        width: 386px;
        height: 235px;
    }

    @media all and (max-width: 1366px) {
        width: 1050px;
    }
    @media all and (max-width: 1111px) {
        width: 700px;
    }
}

.articles-slider__wrapper {
    margin: 0 15px;


    @media all and (max-width: 1366px) {
        margin: 0 -1px;
    }
}

.articles-slider__slide {
    max-width: 369px;
    max-height: 364px;
    margin: 0 15px;
    padding: 44px 30px 51px 35px;
    box-sizing: border-box;

    @media all and (max-width: 424px) {
        max-width: 185px;
        max-height: 185px;
        padding: 14px 15px 20px 15px;
        margin: 0 4px;
    }

    @media all and (max-width: 1366px) {
        max-width: 320px;
        max-height: 305px;
        padding: 18px 30px 21px 35px;
    }

    &::before {
        content: "";
        width: 75px;
        height: 7px;
        position: absolute;
        background-color: #e64a19;
        top: -3px;
        right: 50%;
        transform: translateX(50%);

        @media all and (max-width: 424px) {
            width: 40px;
            height: 5px;
        }
    }

    &_color_blue {
        border: 3px solid #00aeef;
    }

    &_color_pink {
        border: 3px solid #f5989d;

        &::before {
            content: "";
            width: 75px;
            height: 7px;
            position: absolute;
            background-color: #ed145b;
            top: -3px;
            right: 50%;
            transform: translateX(50%);

            @media all and (max-width: 424px) {
                width: 40px;
                height: 5px;
            }
        }
    }

    &_color_purple {
        border: 3px solid #92278f;
    }
    
}

.articles-slider__caption {
    font-size: 14px;
    color: #ff5a00;
    text-transform: uppercase;
    letter-spacing: 1.05px;

    @media all and (max-width: 424px) {
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}


.articles-slider__desc {
    font-size: 24px;
    letter-spacing: 1.8px;
    line-height: 33px;
    margin-top: 24px;

    @media all and (max-width: 424px) {
       font-size: 13px;
       line-height: 17px;
       margin-top: 0px;
    }

    @media all and (max-width: 1366px) {
        font-size: 18px;
        line-height: 29px;
    }
}

.articles-slider__author {
    display: flex;
    margin-top: 51px;

    @media all and (max-width: 424px) {
        margin-top: 15px;
    }
}

.photo {
    width: 62px;
    height: 60px;
    margin-right: 15px;

    @media all and (max-width: 424px) {
        width: 42px;
        height: 40px;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center center;
        border-radius: 10px;
        
    }
}

.author__name {
    font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ff4301;
    margin-bottom: 5px;
    margin-top: 10px;
    letter-spacing: 1.05px;

    @media all and (max-width: 424px) {
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 1px;
    }
}

.author__time {
    font-size: 14px;
    letter-spacing: 1.05px;

    @media all and (max-width: 424px) {
       font-size: 11px;
    }
}

.articles-arrow {
    position: absolute;
    right: 9px;
    top: 166px;
    outline: none;
    cursor: pointer;

    @media all and (max-width: 796px) {
        display: none;
    }

    @media all and (max-width: 1366px) {
        right: 60px;
        top: 144px;
    }
    
}

// секция clients

.wr-clients {
    padding-top: 36px;
    padding-bottom: 36px;

    @media all and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.wr-clients__wrapper {
    position: relative;
}

.wr-clients__subtitle {
    text-align: center;
    letter-spacing: 2.03px;
}

.clients-slider {
    width: 784px;
    margin-top: -6px;

    &__img {
        @media all and (max-width: 424px) {
            object-fit: contain;
            width: 100%;
            height: 100%;
            object-position: center center;
        }
    }

    @media all and (max-width: 424px) {
        width: 390px;
        height: 165px;
    }

    @media all and (max-width: 767px) {
        height: 185px;
    }
    
    @media all and (max-width: 991px) {
        width: 528px;
    }

    
}


.clients-slider__slide {
    max-width: 160px;
    height: 150px;
    margin: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (max-width: 424px) {
        max-width: 120px;
        margin: 0 5px;
    }

    @media all and (max-width: 991px) {
        max-width: 140px;
    }
}


.clients-slider__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;

    @media all and (max-width: 424px) {
        width: 80px;
        overflow: hidden;
    }

    &_wave {
        width: 115px;
        height: 113px;
        border: 5px solid #898989;
        border-radius: 50%;

        @media all and (max-width: 424px) {
            width: 70px;
            height: 70px;
        }
    }

    &_snail {
        border: 3px solid #000000;
        border-radius: 10px;
        width: 132px;
        height: 106px;

        @media all and (max-width: 424px) {
            width: 80px;
            height: 70px;
        }
    }
}

.clients-arrow {
    position: absolute;
    right: 46px;
    top: 106px;
    outline: none;
    border: 1px solid #898989;
    padding: 8px 17px 8px 18px;
    border-radius: 10px;
    cursor: pointer;

    @media all and (max-width: 991px) {
        right: 90px;
        top: 110px;
    }
    @media all and (max-width: 767px) {
        display: none;
    }

    &_right {
        display: flex;
    }
}


// секция portfolio

.wr-portfolio {
    padding-top: 145px;
    padding-bottom: 100px;

    @media all and (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 66px;
    }

    &__section-header {
        position: relative;
    }
    &__text {
        position: relative;
    }
    &__text::after {
        content: "";
        width: 75px;
        height: 7px;
        background-color: #e64a19;
        position: absolute;
        top: 112px;
        left: 347px;

        @media all and (max-width: 424px) {
            top: 70px;
            left: 164px;
            width: 50px;
            height: 5px;
        }

        @media all and (max-width: 767px) {
            top: 70px;
            left: 322px;
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 86px;

        @media all and (max-width: 424px) {
            margin-top: 7px;
        }

        @media all and (max-width: 767px) {
            margin-top: 39px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        margin: 0 14px;

        @media all and (max-width: 424px) {
            margin: 0 6px;
        }
    }

    &__link {
        letter-spacing: 1.2px;
        color: #212121;

        @media all and (max-width: 424px) {
            font-size: 9px;
        }
    }
}

.slick {
    margin-top: 3px;
    max-width: 1500px;
    margin: 0 auto;
    height: 390px;
    display: flex;
    align-items: center;

    @media all and (max-width: 767px) {
        height: 274px;
    }

    &__slide {
        border: 1px solid #f7941d;
        border-radius: 10px;
        overflow: hidden;
        height: 360px;
        margin: 0 1px;

        @media all and (max-width: 767px) {
            height: 260px;
        }

        &:hover {
            height: 410px;

            @media all and (max-width: 767px) {
                height: 300px;
            }
        }

        &:focus {
            outline: none;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }

    
    .slick-list {
        margin-left: 16px;
        overflow: hidden;
        padding: 0 10% 0 0;

        @media all and (max-width: 1024px) {
            padding: 0;
            margin-right: 14px;
        }
    }

    .slick-track {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.slick-dots {
    bottom: -53px;
}

.slick-dots li {
    width: 13px;
}

.slick-dots li button:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color:#8d8d8d;
    border-radius: 50%;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    background-color: #ff3d00;
    opacity: 1;
}


// секция quote

.wr-quote {
    background-color: #4e4e4e;
    padding-top: 112px;
    padding-bottom: 123px;
    max-width: 1500px;
    margin: 0 auto;

    @media all and (max-width: 424px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media all and (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__text {
        font-size: 24px;
        text-align: center;
        color: #fff;
        font-style: oblique;

        @media all and (max-width: 424px) {
            font-size: 13px;
        }
    }

    &__span {
        color: #ff3d00;
    }
}


// секция team-members

.wr-team {
    padding-top: 75px;
    padding-bottom: 57px;

    @media all and (max-width: 767px) {
        padding-top: 34px;
        padding-bottom: 10px;
    }

    &__text {
        margin-top: 41px;

        @media all and (max-width: 767px) {
           margin-top: 17px;
        }
    }

    &__members {
        display: flex;
        justify-content: space-between;
        max-width: 1078px;
        padding-top: 10px;
        margin: 50px auto;

        @media all and (max-width: 767px) {
            margin: 14px auto;
        }

    }
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 10px 10px;
    width: 175px;
    box-sizing: border-box;

    @media all and (max-width: 424px) {
        width: 100px;
    }

    &__ava {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        width: 130px;
        height: 130px;
        padding-top: 5px;
        box-sizing: border-box;

        @media all and (max-width: 424px) {
            width: 66px;
            height: 65px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center top;
    }

    &__name {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 37px;
        margin-bottom: 0px;

        @media all and (max-width: 424px) {
            font-size: 8px;
            margin-top: 9px;
        }
    }

    &__position {
        letter-spacing: -0.5px;
        margin-top: 13px;

        @media all and (max-width: 424px) {
            font-size: 10px;
            margin-top: 4px;
        }
    }
}

// секция consult

.wr-consult {
    background-image: url("../img/dest/consult/mountains.jpg");
    background-size: cover;
    background-position: left center;
    height: 651px;
    padding: 20px 0;
    max-width: 1500px;
    margin: 0 auto;

    @media all and (max-width: 424px) {
        height: 340px;
    }

    @media all and (max-width: 767px) {
        height: 460px;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-end;

        @media all and (max-width: 424px) {
            justify-content: center;
        }
    }

    &__content {
        width: 686px;
        margin-right: 97px;
        padding-top: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media all and (max-width: 424px) {
            margin-right: 0;        
        }

        @media all and (max-width: 767px) {
            padding-top: 30px;
            width: 340px;
        }

        @media all and (max-width: 991px) {
            margin-right: 13px;
        }

        @media all and (max-width: 1111px) {
            width: 444px;
        }
    }

    &__subtitle {
        color: #fff;
        font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
        font-size: 30px;
        letter-spacing: 2.21px;

        @media all and (max-width: 424px) {
            font-size: 25px;
        }
    }
}

.progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 85px 45px 85px;
    margin-top: 22px;
    background-color: rgba(255, 255, 255, 0.34);
    position: relative;

    @media all and (max-width: 767px) {
        padding: 10px 20px 23px 20px;
        margin-top: 0;
    }

    @media all and (max-width: 1111px) {
        padding: 15px 45px 22px 45px;
        margin-top: 20px;
    }
    

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 180px;

        @media all and (max-width: 1111px) {
            width: 128px;
        }
    }
    &__ring {
        width: 50px;
        height: 50px;
        border: 8px solid #ff3d00;
        border-radius: 50%;
        border-left: 8px solid #fff;
        transform: rotate(45deg);
        display: flex;
        justify-content: center;
        align-items: center;

        @media all and (max-width: 767px) {
            width: 30px;
            height: 30px;
            border: 4px solid #ff3d00;
            border-left: 4px solid #fff;
        }
    }

    &__number {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #eee;
        transform: rotate(-45deg);

        @media all and (max-width: 767px) {
            font-size: 13px;
        }
    }

    &__orange {
        color: #ff4800;
    }

    &__subtitle {
        font-size: 13px;
        text-transform: capitalize;
        color: #eee;
        letter-spacing: 1.5px;
        margin-top: 17px;
        margin-bottom: 10px;

    }

    &::after {
        content: "";
        width: 63px;
        height: 6px;
        background-color: #e64a19;
        position: absolute;
        top: 274px;
        left: 309px;

        @media all and (max-width: 767px) {
            top: 191px;
            left: 140px;
        }

        @media all and (max-width: 1111px) {
            top: 251px;
            left: 189px;
        }
    }
}

// секция food

.wr-food {
    padding: 44px 0;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        font-family: "ThirstySED", Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #2c2c2c;
        text-transform: capitalize;
    }

    &__orange {
        color: #ff3f04;
    }

    &__box {
        display: flex;
        justify-content: space-around;
        width: 874px;
        padding-bottom: 14px;
    }
}


.picture {
    width: 455px;
    display: flex;
    justify-content: flex-end;

    &__item {
        width: 352px;
        height: 146px;
        overflow: hidden;
        border: 2px solid #f7941d;
        border-radius: 10px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}




.description {
    width: 355px;

    &__item {
        width: 245px;
    }

    &__date {
        font-size: 8px;
    }

    &__subtitle {
        font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
        font-size: 13px;
        margin-top: 9px;
    }

    &__text {
        font-size: 9px;
        line-height: 16px;
        margin-top: 29px;
    }
}



.food-active {
    padding-bottom: 42px;
    padding-top: 28px;
    width: 874px;

    .picture__item {
        width: 452px;
        height: 303px;
    }

    .description {
        display: flex;
        align-items: center;

        &__item {
            width: 350px;
        }

        &__date {
            font-size: 11px;
        }
    
        &__subtitle {
            font-size: 19px;
        }
    
        &__text {
            font-size: 13px;
            line-height: 23px;
        }
    }
}
