@import 'fonts.scss';
@import 'settings.scss';

.wr-main {
    background-image: url("../img/dest/header/main-bg.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center bottom;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;

    @media all and (orientation: landscape) {
        
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 22px;
    }
}

.logo {
    font-family: "CurlzMT", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 59px;
    text-transform: uppercase;
    padding-left: 13px;
    padding-top: 31px;
    letter-spacing: -2.5px;

    @media all and (max-width: 767px) {
        padding-top: 10px;
        font-size: 20px;
        padding-left: 0;
    }

    @media all and (max-width: 1366px) {
        font-size: 40px;
        letter-spacing: 1px;
    }
    
    span {
        font-size: 39px;
        letter-spacing: -3px;

        @media all and (max-width: 424px) {
            font-size: 12px;
        }

        @media all and (max-width: 767px) {
            font-size: 13px;
        }

        @media all and (max-width: 1366px) {
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav {
    padding-top: 5px;
    
    ul {
        display: flex;
        letter-spacing: 0.1px;

    }

    li {
        margin-left: 21px;
    }

    a {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: #ff5400;
        }

        @media all and (max-width: 1366px) {
            font-size: 14px;
        }
    }
}

@media all and (max-width: 767px) {
    .nav {
        position: fixed;
        left: 0px;
        top: -100%;
        width: 100%;
        height: 165px;
        background-color: #ff5500;
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease 0s;
        z-index: 10;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &.active {
            top: 0;
        }

        ul {
            flex-direction: column;
            margin-bottom: 5px;
        }

        li {
            margin-bottom: 10px;
            margin-left: 0;
        }

        a {
            font-size: 18px;

            &:hover {
                color: #212121;;
            }
        }
        
    }

    .burger {
        position: absolute;
        top: 27px;
        right: 17px;
        width: 30px;
        height: 20px;
        z-index: 10;
        cursor: pointer;

        &.active {
            position: fixed;
        }

        & span {
            background-color: #fff;
            position:absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
            top: 9px;
        }

        &.active::before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
            
        }
    }

    .burger::before,
    .burger::after {
        content: "";
        background-color: #fff;
        position:absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
}
    .burger::before {
        top: 0;
}
    .burger::after {
        bottom: 0;
    }

}

@media all and (max-width: 424px) {
    .burger {
        width: 24px;
        height: 16px;

        & span {
            top: 7px;
        }

        &.active::before {
            transform: rotate(45deg);
            top: 7px;
        }
        &.active::after {
            transform: rotate(-45deg);
            bottom: 7px;
        }
    }
}

.wr-home {
    padding-top: 12vh;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        padding: 0 22px;

        > p {
            font-size: 18px;
            color: #fff;
            width: 610px;
            text-align: right;
            line-height: 35px;
            margin-top: 56px;
            margin-right: -22px;
            background-color: rgba(0, 0, 0, .4);
            border-radius: 10px;
            padding: 12px 22px 10px 25px;
            box-sizing: border-box;

            @media all and (max-width: 767px) {
                font-size: 11px;
                line-height: 17px;
                width: 295px;
                margin-right: 0px;
                padding: 9px 6px 7px 6px;
                margin-top: 24px;
                margin-bottom: 7px;
                text-align: center;
            }

            @media all and (max-width: 1366px) {
                font-size: 15px;
                margin-top: 32px;
                line-height: 25px;
                width: 510px;
            }


        }

        @media all and (max-width: 767px) {
            align-items: center;
        }
    }

    .title {
        font-family: "SSP-Black", Arial, Helvetica, sans-serif;
        text-align: right;
        text-transform: capitalize;
        position: relative;

        p {
            color: #ff5400;
            margin-bottom: 0px;
            margin-top: 50px;
            font-size: 48px;
            letter-spacing: 0.2px;

            @media all and (max-width: 767px) {
                font-size: 32px;
            }

            @media all and (max-width: 1366px) {
                font-size: 35px;
                margin-top: 0px;
            }
        }

        h1 {
            color: #fff;
            font-size: 48px;
            margin: 0;
            padding-top: 2px;

            @media all and (max-width: 767px) {
                font-size: 32px;
                padding-top: 0;
            }
            
            @media all and (max-width: 1366px) {
                font-size: 35px;
            }
        }

        h1::after {
            content: " ";
            width: 138px;
            height: 3px;
            background-color:  #ff5400;
            position: absolute;
            top: 221px;
            right: 2px;

            @media all and (max-width: 767px) {
                right: 50%;
                transform: translate(50%);
                width: 53px;  
                top: 111px; 
            }

            @media all and (max-width: 1366px) {
                top: 113px;
                width: 95px;
            }
        }

        span {
            font-size: 60px;

            @media all and (max-width: 767px) {
                font-size: 45px;
            }

            @media all and (max-width: 1366px) {
                font-size: 45px;
            }
        }

        @media all and (max-width: 767px) {
            text-align: center;         
        }

    }
    
    .btn {
        font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
        color: #ff4800;
        font-size: 20px;
        text-transform: capitalize;
        width: 190px;
        height: 55px;
        border: 3px solid #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-top: 22px;
        margin-right: 45px;
        margin-bottom: 15px;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: #ff4800;
            color: #fff;
        }

        @media all and (max-width: 767px) {
            font-size: 19px;
            width: 178px;
            height: 44px;
            margin-right: 0;
            margin-top: 4px;
        }

        @media all and (max-width: 1366px) {
            margin-top: 5px;
            font-size: 18px;
            width: 172px;
            height: 47px;
        }
    }
}

// секция intro

.wr-intro {
    padding-top: 55px;
    padding-bottom: 136px;

    @media all and (max-width: 424px) {
        padding-bottom: 23px;
    }

    @media all and (max-width: 767px) {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .wrapper {
        max-width: 1010px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        font-size: 30px;
        letter-spacing: 2.6px;
        margin-top: 31px;
        text-transform: capitalize;

        @media all and (max-width: 480px) {
            font-size: 22px;
            margin-top: 15px;
        }

        span {
            color: #ff5101;
        }
    }

    p {
        margin-top: 36px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.4px;

        @media all and (max-width: 424px) {
            margin-top: 0;
        }

        @media all and (max-width: 480px) {
            font-size: 12px;
            line-height: 19px;
        }

        @media all and (max-width: 767px) {
            font-size: 14px;
            line-height: 22px;
            margin-top: 10px;
        }
    }
}

// секция services

.wr-services {
    background-color: #dfe3e3;
    padding-top: 87px;
    padding-bottom: 50px;

    @media all and (max-width: 424px) {
        padding-bottom: 8px;
    }

    @media all and (max-width: 767px) {
        padding-top: 47px;
        padding-bottom: 34px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;

        @media all and (max-width: 550px) {
            flex-direction: column;
            align-items: center;
        }
        
        @media all and (max-width: 767px) {
            justify-content: space-around;
        }

        @media all and (max-width: 1024px) {
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 702px;
        }
    }

    &__box {
        margin-left: 15px;
        
        @media all and (max-width: 550px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}

.box__icon_clock {
    margin-left: -23px;

    @media all and (max-width: 550px) {
        margin: 0 auto;
    }
}

.box__icon_aircraft {
    margin-top: 8px;
}

.box__chapter {
    font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    margin-left: -20px;
    margin-bottom: 29px;

    @media all and (max-width: 424px) {
        font-size: 15px;
        
    }

    @media all and (max-width: 550px) {
        margin-bottom: 0px;
        margin-left: 0;
    }

    &_color_blue {
        color: #0072ff;
    }

    &_color_orange {
        color: #ff8309;
    }

    &_color_purple {
        color: #c602ff;
    }

    &_color_pink {
        color: #fb016b;
    }
}
.box__list {
    line-height: 25px;
    letter-spacing: 0.75px;
    font-size: 15px;

    @media all and (max-width: 424px) {
       font-size: 13px;
       line-height: 19px;
    }
}


// секция articles

.wr-articles {
    padding-top: 71px;
    padding-bottom: 55px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 34px;
    }

    &__subtitle_black {
        margin-bottom: 35px;
    }
}

.wr-articles__box {
    min-width: 1350px;
    position: relative;
    margin-top: 100px;
    height: 400px;

    @media all and (max-width: 550px) {
        min-width: 290px;
        height: 305px;
    }

    @media all and (max-width: 768px) {
        min-width: 510px;
        height: 280px;
        margin-top: 34px;
    }

    @media all and (max-width: 1111px) {
        min-width: 895px;
    }

    @media all and (max-width: 1366px) {
        min-width: 1200px;
    }
}

.articles-slider {
    width: 1203px;
    height: 360px;

    @media all and (max-width: 550px) {
        width: 290px;
        height: 305px;
    }

    @media all and (max-width: 767px) {
        width: 510px;
        height: 280px;
    }

    @media all and (max-width: 1111px) {
        width: 700px;
    }

    @media all and (max-width: 1366px) {
        width: 1050px;
    }
    
}

.articles-slider__wrapper {
    margin: 0 15px;


    @media all and (max-width: 1366px) {
        margin: 0 -1px;
    }
}

.articles-slider__slide {
    max-width: 369px;
    max-height: 364px;
    margin: 0 15px;
    padding: 44px 30px 51px 35px;
    box-sizing: border-box;

    @media all and (max-width: 550px) {
        max-width: 280px;
        max-height: 260px;
        margin: 0 5px;
        padding: 25px;
    }

    @media all and (max-width: 767px) {
        max-width: 225px;
        max-height: 225px;
        padding: 15px;
    }

    @media all and (max-width: 1366px) {
        max-width: 320px;
        max-height: 305px;
        padding: 18px 30px 21px 35px;
    }

    &::before {
        content: "";
        width: 75px;
        height: 7px;
        position: absolute;
        background-color: #e64a19;
        top: -3px;
        right: 50%;
        transform: translateX(50%);

        @media all and (max-width: 550px) {
            width: 60px;
            height: 6px;
        }

        @media all and (max-width: 767px) {
            width: 50px;
            height: 5px;
        }
    }

    &_color_blue {
        border: 3px solid #00aeef;
    }

    &_color_pink {
        border: 3px solid #f5989d;

        &::before {
            content: "";
            width: 75px;
            height: 7px;
            position: absolute;
            background-color: #ed145b;
            top: -3px;
            right: 50%;
            transform: translateX(50%);

            @media all and (max-width: 550px) {
                width: 60px;
                height: 6px;
            }

            @media all and (max-width: 767px) {
                width: 50px;
                height: 5px;
            }
        }
    }

    &_color_purple {
        border: 3px solid #92278f;
    }
    
}

.articles-slider__caption {
    font-size: 14px;
    color: #ff5a00;
    text-transform: uppercase;
    letter-spacing: 1.05px;

    @media all and (max-width: 550px) {
        font-size: 14px;
        margin-top: 7px;
    }

    @media all and (max-width: 767px) {
        font-size: 12px;
    }
}


.articles-slider__desc {
    font-size: 24px;
    letter-spacing: 1.8px;
    line-height: 33px;
    margin-top: 24px;

    @media all and (max-width: 550px) {
       font-size: 17px;
       line-height: 22px;
    }

    @media all and (max-width: 767px) {
       font-size: 12px;
       line-height: 19px;
       margin-top: 20px;
    }

    @media all and (max-width: 1366px) {
        font-size: 18px;
        line-height: 29px;
    }
}

.articles-slider__author {
    display: flex;
    margin-top: 51px;

    @media all and (max-width: 550px) {
        margin-top: 25px;
    }

    @media all and (max-width: 767px) {
        margin-top: 20px;
    }
}

.photo {
    width: 62px;
    height: 60px;
    margin-right: 15px;
    border-radius: 10px;
    overflow: hidden;

    @media all and (max-width: 550px) {
        width: 62px;
        height: 60px;
    }

    @media all and (max-width: 767px) {
        width: 52px;
        height: 50px;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center center;
    }
}

.author__name {
    font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ff4301;
    margin-bottom: 5px;
    margin-top: 10px;
    letter-spacing: 1.05px;

    @media all and (max-width: 550px) {
        font-size: 13px;
    }

    @media all and (max-width: 767px) {
        font-size: 11px;
    }
}

.author__time {
    font-size: 14px;
    letter-spacing: 1.05px;

    @media all and (max-width: 550px) {
       font-size: 13px;
    }

    @media all and (max-width: 767px) {
        font-size: 11px;
    }
}

.articles-arrow__left {
    position: absolute;
    outline: none;
    cursor: pointer;
    top: 166px;
    left: 30px;

    @media all and (max-width: 795px) {
        display: none;
    }

    @media all and (max-width: 1366px) {
        left: 60px;
        top: 144px;
    }
}

.articles-arrow__right {
    position: absolute;
    right: 9px;
    top: 166px;
    outline: none;
    cursor: pointer;

    @media all and (max-width: 795px) {
        display: none;
    }

    @media all and (max-width: 1366px) {
        right: 60px;
        top: 144px;
    }
    
}


// секция clients

.wr-clients {
    padding-top: 36px;
    padding-bottom: 36px;

    @media all and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.wr-clients__wrapper {
    position: relative;
    padding: 0 5px;
}

.wr-clients__subtitle {
    text-align: center;
    letter-spacing: 2.03px;
}

.clients-slider {
    width: 784px;
    margin-top: -6px;

    @media all and (max-width: 450px) {
        width: 300px;
        height: 117px;
    }

    @media all and (max-width: 580px) {
        width: 390px;
        height: 165px;
    }

    @media all and (max-width: 796px) {
        height: 185px;
    }
    
    @media all and (max-width: 991px) {
        width: 528px;
    }

    &__img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        object-position: center center;
    }
}


.clients-slider__slide {
    max-width: 160px;
    height: 150px;
    margin: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (max-width: 450px) {
        max-width: 90px;
        height: 90px;
    }

    @media all and (max-width: 580px) {
        height: 123px;
        max-width: 120px;
        margin: 0 5px;
    }

    @media all and (max-width: 991px) {
        max-width: 140px;
    }
}


.clients-slider__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;

    @media all and (max-width: 450px) {
        width: 65px;
    }

    @media all and (max-width: 580px) {
        width: 80px;
    }

    &_wave {
        width: 115px;
        height: 113px;
        border: 5px solid #898989;
        border-radius: 50%;

        @media all and (max-width: 450px) {
            width: 55px;
            height: 55px;
        }

        @media all and (max-width: 580px) {
            width: 70px;
            height: 70px;
        }
    }

    &_snail {
        border: 3px solid #000000;
        border-radius: 10px;
        width: 132px;
        height: 106px;

        @media all and (max-width: 450px) {
            width: 65px;
            height: 55px;
        }

        @media all and (max-width: 580px) {
            width: 80px;
            height: 70px;
        }
    }
}

.clients-arrow__right {
    position: absolute;
    right: 46px;
    top: 107px;
    outline: none;
    border: 1px solid #898989;
    padding: 10px 17px 6px 18px;
    border-radius: 10px;
    cursor: pointer;

    @media all and (max-width: 991px) {
        right: 59px;
        top: 110px;
    }
    @media all and (max-width: 795px) {
        display: none;
    }
}

.clients-arrow__left {
    position: absolute;
    left: 46px;
    top: 107px;
    outline: none;
    border: 1px solid #898989;
    padding: 10px 17px 6px 18px;
    border-radius: 10px;
    cursor: pointer;

    @media all and (max-width: 795px) {
        display: none;
    }

    @media all and (max-width: 991px) {
        left: 59px;
        top: 110px;
    }
}


// секция portfolio

.wr-portfolio {
    padding-top: 115px;
    padding-bottom: 100px;

    @media all and (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 66px;
    }

    &__section-header {
        position: relative;
    }
    &__text {
        position: relative;
    }
    &__text::after {
        content: "";
        width: 75px;
        height: 7px;
        background-color: #e64a19;
        position: absolute;
        bottom: -52px;
        left: 50%;
        transform: translateX(-50%);

        @media all and (max-width: 767px) {
            bottom: -30px;
            width: 55px;
            height: 5px;
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 86px;

        @media all and (max-width: 480px) {
            margin-top: 36px;
        }

        @media all and (max-width: 767px) {
            margin-top: 39px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        margin: 0 14px;
        letter-spacing: 1.2px;
        color: #212121;
        cursor: pointer;

        @media all and (max-width: 480px) {
            margin: 0 9px;
            font-size: 12px;
        }

        @media all and (max-width: 767px) {
            font-size: 14px;
        }
    }

    &__active {
        color: #ff5400;
    }
}


.slick {
    margin: 0 auto;
    margin-top: 3px;
    max-width: 1500px;
    height: 390px;
    display: flex;
    align-items: center;

    @media all and (max-width: 480px) {
        height: 270px;
    }

    @media all and (max-width: 767px) {
        height: 220px;
    }

    @media all and (max-width: 950px) {
        height: 275px;
        margin-top: 10px;
    }

    @media all and (max-width: 1190px) {
        height: 340px;
    }

    &__slide {
        border: 1px solid #f7941d;
        border-radius: 10px;
        height: 360px;
        margin: 0 1px;
        overflow: hidden;

        @media all and (max-width: 480px) {
            height: 290px;
        }

        @media all and (max-width: 767px) {
            height: 215px;
        }

        @media all and (max-width: 950px) {
            height: 260px;
        }

        @media all and (max-width: 1190px) {
            height: 300px;
        }

        &:hover {
            height: 410px;

            @media all and (max-width: 480px) {
                height: 290px;
            }

            @media all and (max-width: 767px) {
                height: 255px;
            }

            @media all and (max-width: 950px) {
                height: 300px;
            }

            @media all and (max-width: 1190px) {
                height: 340px;
            }
        }
            

        &:focus {
            outline: none;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left center;
    }

    
    .slick-list {
        margin-left: 16px;
        padding: 0 10% 0 0;

        @media all and (max-width: 1024px) {
            padding: 0;
            margin-right: 14px;
        }
    }

    .slick-track {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.slick-dots {
    bottom: -53px;
}

.slick-dots li {
    width: 13px;
    margin: 0 5px;

    @media all and (max-width: 480px) {
        margin: 0 1px;
    }

    @media all and (max-width: 767px) {
        margin: 0 3px;
    }
}

.slick-dots li button:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color:#8d8d8d;
    border-radius: 50%;
    opacity: 1;

    @media all and (max-width: 480px) {
        width: 9px;
        height: 9px;
    }

    @media all and (max-width: 767px) {
        width: 13px;
        height: 13px;
    }
}

.slick-dots li.slick-active button:before {
    background-color: #ff3d00;
    opacity: 1;
}


// секция quote

.wr-quote {
    background-color: #4e4e4e;
    padding-top: 112px;
    padding-bottom: 123px;
    max-width: 1500px;
    margin: 0 auto;

    @media all and (max-width: 424px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media all and (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__text {
        font-size: 24px;
        text-align: center;
        color: #fff;
        font-style: oblique;

        @media all and (max-width: 480px) {
            font-size: 13px;
        }
    }

    &__span {
        color: #ff3d00;
    }
}


// секция team-members

.wr-team {
    padding-top: 75px;
    padding-bottom: 57px;

    @media all and (max-width: 767px) {
        padding-top: 34px;
        padding-bottom: 10px;
    }

    &__text {
        margin-top: 41px;

        @media all and (max-width: 767px) {
           margin-top: 17px;
           font-size: 14px;
        }
    }

    &__members {
        display: flex;
        justify-content: space-between;
        max-width: 1078px;
        padding-top: 10px;
        margin: 50px 0;

        @media all and (max-width: 570px) {
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 5px 0;
        }

        @media all and (max-width: 767px) {
            margin: 14px 0;
        }

    }
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 10px 10px;
    width: 175px;
    box-sizing: border-box;

    @media all and (max-width: 424px) {
        width: 131px;
    }

    @media all and (max-width: 767px) {
        padding-top: 10px;         
    }

    &__ava {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        padding-top: 5px;
        box-sizing: border-box;

        @media all and (max-width: 424px) {
            width: 65px;
            height: 65px;
        }

        @media all and (max-width: 767px) {
            width: 80px;
            height: 80px; 
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center top;
    }

    &__name {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 37px;
        margin-bottom: 0px;

        @media all and (max-width: 424px) {
            font-size: 12px;
            margin-top: 9px;
        }

        @media all and (max-width: 767px) {
            font-size: 13px;
            margin-top: 15px; 
        }
    }

    &__position {
        letter-spacing: -0.5px;
        margin-top: 13px;

        @media all and (max-width: 424px) {
            font-size: 11px;
            margin-top: 3px;
        }

        @media all and (max-width: 767px) {
            font-size: 12px;
            margin-top: 7px; 
        }
    }
}

// секция consult

.wr-consult {
    background-image: url("../img/dest/consult/mountains.jpg");
    background-size: cover;
    background-position: left center;
    height: 651px;
    padding: 20px 0;
    max-width: 1500px;
    margin: 0 auto;

    @media all and (max-width: 480px) {
        height: 330px;
    }

    @media all and (max-width: 767px) {
        height: 460px;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-end;

        @media all and (max-width: 424px) {
            justify-content: center;
        }
    }

    &__content {
        width: 686px;
        margin-right: 97px;
        padding-top: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media all and (max-width: 424px) {
            width: 285px;
            margin-right: 0;  
            padding-top: 50px;      
        }

        @media all and (max-width: 767px) {
            padding-top: 30px;
            width: 340px;
        }

        @media all and (max-width: 991px) {
            margin-right: 13px;
        }

        @media all and (max-width: 1111px) {
            width: 444px;
        }
    }

    &__subtitle {
        color: #fff;
        font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
        font-size: 30px;
        letter-spacing: 2.21px;

        @media all and (max-width: 480px) {
            font-size: 19px;
        }
    }
}

.progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 85px 45px 85px;
    margin-top: 22px;
    background-color: rgba(255, 255, 255, 0.34);
    position: relative;

    @media all and (max-width: 424px) {
        padding: 10px 5px 23px 5px; 
    }

    @media all and (max-width: 767px) {
        padding: 10px 20px 23px 20px;
        margin-top: 0;
    }

    @media all and (max-width: 1111px) {
        padding: 15px 45px 22px 45px;
        margin-top: 20px;
    }
    

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 180px;

        @media all and (max-width: 1111px) {
            width: 128px;
        }
    }
    &__ring {
        width: 50px;
        height: 50px;
        border: 8px solid #ff3d00;
        border-radius: 50%;
        border-left: 8px solid #fff;
        transform: rotate(45deg);
        display: flex;
        justify-content: center;
        align-items: center;

        @media all and (max-width: 424px) {
            width: 25px;
            height: 25px; 
        }

        @media all and (max-width: 767px) {
            width: 30px;
            height: 30px;
            border: 4px solid #ff3d00;
            border-left: 4px solid #fff;
        }
    }

    &__number {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #eee;
        transform: rotate(-45deg);

        @media all and (max-width: 424px) {
            font-size: 11px; 
        }

        @media all and (max-width: 767px) {
            font-size: 13px;
        }
    }

    &__orange {
        color: #ff4800;
    }

    &__subtitle {
        font-size: 13px;
        text-transform: capitalize;
        color: #eee;
        letter-spacing: 1.5px;
        margin-top: 17px;
        margin-bottom: 10px;

        @media all and (max-width: 424px) {
            font-size: 11px; 
        }
    }

    &::after {
        content: "";
        width: 63px;
        height: 6px;
        background-color: #e64a19;
        position: absolute;
        top: 274px;
        left: 50%;
        transform: translateX(-50%);

        @media all and (max-width: 424px) {
            top: 177px; 
        }

        @media all and (max-width: 767px) {
            width: 41px;
            height: 5px;
            top: 191px;
        }

        @media all and (max-width: 1111px) {
            top: 251px;
        }
    }
}

// секция food

.wr-food {
    padding-top: 44px;

    @media all and (max-width: 410px) {
        padding-top: 19px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (max-width: 410px) {
            padding: 0 5px;
        }
    }

    &__subtitle {
        font-family: "ThirstySED", Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #2c2c2c;
        text-transform: capitalize;

        @media all and (max-width: 410px) {
            font-size: 25px;
        }
    }

    &__orange {
        color: #ff3f04;
    }

    &__container {
        margin: 0 auto;
    }

    &__box {
        display: flex;
        justify-content: space-around;
        padding-bottom: 14px;

        @media all and (max-width: 798px) {
            flex-direction: column;
            align-items: center;
        }
    }
}


.picture {
    width: 455px;
    display: flex;
    justify-content: flex-end;

    @media all and (max-width: 410px) {
        width: 234px;
    }

    @media all and (max-width: 798px) {
        justify-content: center;
    }

    @media all and (max-width: 950px) {
        width: 359px;
    }

    &__item {
        width: 352px;
        height: 146px;
        border: 2px solid #f7941d;
        border-radius: 10px;
        overflow: hidden;

        @media all and (max-width: 410px) {
            width: 230px;
            height: 95px;
        }

        @media all and (max-width: 950px) {
            width: 280px;
            height: 110px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.description {
    width: 355px;

    @media all and (max-width: 410px) {
        width: 272px;
    }

    &__item {
        padding-right: 81px;

        @media all and (max-width: 410px) {
            padding: 0 30px;
        }

        @media all and (max-width: 798px) {
            padding: 0 66px;
        }

        @media all and (max-width: 950px) {
            padding-right: 112px;
        }
    }

    &__date {
        font-size: 8px;
    }

    &__subtitle {
        font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
        font-size: 13px;
        margin-top: 9px;

        @media all and (max-width: 410px) {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    &__text {
        font-size: 9px;
        line-height: 16px;
        margin-top: 29px;

        @media all and (max-width: 950px) {
            font-size: 8px;
            line-height: 12px;
            margin-top: 0;
        }
    }
}

.food-active {
    padding-bottom: 42px;
    padding-top: 28px;
    width: 864px;

    @media all and (max-width: 410px) {
        width: 285px;
        padding-bottom: 22px;
        padding-top: 8px;
    }

    @media all and (max-width: 798px) {
        width: 359px;
    }

    @media all and (max-width: 950px) {
        padding-bottom: 32px;
        padding-top: 18px;
        width: 764px;
    }

    .picture {
        &__item {
            width: 452px;
            height: 303px;

            @media all and (max-width: 410px) {
                width: 285px;
                height: 160px;
            }
    
            @media all and (max-width: 950px) {
                width: 355px;
                height: 195px;
            }
        }

        @media all and (max-width: 410px) {
            width: 285px;
        }

        @media all and (max-width: 950px) {
            justify-content: flex-start;
            width: 359px;
        }
    }

    .description {
        display: flex;
        align-items: center;

        &__item {
            padding: 0;
        }

        &__date {
            font-size: 11px;

            @media all and (max-width: 410px) {
                font-size: 9px;
            }
        }
    
        &__subtitle {
            font-size: 19px;

            @media all and (max-width: 410px) {
                font-size: 17px;
                margin-bottom: 9px;
            }
        }
    
        &__text {
            font-size: 13px;
            line-height: 23px;

            @media all and (max-width: 410px) {
                font-size: 11px;
                line-height: 19px;
            }
        }
    }
}


// секция tweets

.wr-tweets {
    padding-top: 55px;
    padding-bottom: 95px;

    @media all and (max-width: 550px) {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__twitter {
        width: 27px;
        height: 22px;
        margin-bottom: 37px;
        overflow: hidden;

        @media all and (max-width: 550px) {
            width: 17px;
            height: 15px;
            margin-bottom: 24px;
        }
    }

    &__logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__girl {
        width: 91px;
        height: 85px;
        border-radius: 50%;
        margin-bottom: 42px;
        overflow: hidden;

        @media all and (max-width: 550px) {
            width: 61px;
            height: 61px;
            margin-bottom: 22px;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }

    &__text {
        padding: 0 144px; 
        text-align: center;
        margin-bottom: 18px;

        @media all and (max-width: 1058px) {
            padding: 0 65px;
        }

        @media all and (max-width: 900px) {
            padding: 0;
        }
    }

    &__item {
        font-size: 20px;
        line-height: 38px;

        @media all and (max-width: 550px) {
            font-size: 13px;
            line-height: 22px;
        }
    }

    &__span {
        font-family: "SSP-Bold", Arial, Helvetica, sans-serif;

        @media all and (max-width: 550px) {
            font-size: 11px;
        }
    }
}

// секция form

.wr-footer {
    background-color: #212121;
    height: 490px;

    &__container {
        display: grid;
        grid-template-columns: minmax(auto, 453px) repeat(3, minmax(auto, 120px) 80px) minmax(auto, 117px);
        grid-template-rows: 75px 90px 189px 30px 106px;
        position: relative;

        @media all and (max-width: 767px) {
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 130px 181px 30px 61px 88px;
        }
    }

    &__caption {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;

        @media all and (max-width: 767px) {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    &__module-1 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    &__module-2 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 5;
        grid-column-end: 6;
    }

    &__module-3 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 7;
        grid-column-end: 8;
    }

    &__form {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;

        @media all and (max-width: 767px) {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    &__send {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 9;

        @media all and (max-width: 767px) {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }
    
    &__copyright {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;

        @media all and (max-width: 767px) {
            grid-row-start: 5;
            grid-row-end: 6;
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    &__buttons {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 6;
        grid-column-end: 9;

        @media all and (max-width: 767px) {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 2;
            grid-column-end: 3;
        }

        @media all and (max-width: 947px) {
            grid-column-start: 3;
            grid-column-end: 9;
        }

        @media all and (max-width: 1214px) {
            grid-column-start: 4;
            grid-column-end: 9;
        }
    }

    &__heading {
        font-family: "CurlzMT", Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 4.49px;
        margin-top: 0;
        margin-bottom: 23px;

        @media all and (max-width: 767px) {
            text-align: center;
            margin-top: 39px;
        }
    }

    &__span {
        font-size: 21px;
        color: #ff3000;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        color: #999999;
        margin: 0;

        @media all and (max-width: 550px) {
            font-size: 12px;
            line-height: 19px;
        }

        @media all and (max-width: 767px) {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

.module {
    margin: 0 auto;
    margin-top: 8px;

    @media all and (max-width: 767px) {
        display: none;
    }
     
    &__heading {
        font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #dddddd;
        text-transform: uppercase;
        margin-bottom: 29px;

        @media all and (max-width: 841px) {
            font-size: 13px;
        }
    }

    &__list {
        margin: 0;
    }

    &__item {
        margin-bottom: 6px;

        @media all and (max-width: 841px) {
            margin-bottom: 4px;
        }
    }

    &__link {
        font-size: 14px;
        color: #999999;

        @media all and (max-width: 841px) {
            font-size: 12px;
        }
    }
}

.wr-footer__form {
    padding-top: 39px;
    position: relative;
}

.form {

    @media all and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.form__item {
    font-size: 14px;
    color: #999999;
    background-color: #212121;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 198px;
    padding-left: 0;
    margin-bottom: 22px;

    @media all and (max-width: 550px) {
        width: 271px;
    }

    @media all and (max-width: 767px) {
        width: 430px;
    }

    &:first-child {
        margin-right: 27px;

        @media all and (max-width: 767px) {
            margin-right: 0;
        }
    }

    &::placeholder {
        text-transform: uppercase;
    }

    &:focus {
        outline: none;
        border-color: rgba(255, 47, 0, 0.4);
    }
    
    &_long {
        resize: none;
        height: 16px;
        width: 428px;
        padding: 1px 2px 1px 0;

        @media all and (max-width: 550px) {
            width: 271px;
        }
    }
}

.wr-footer__send {
    position: relative;
}

.send {
    
    &::after {
        content: "";
        width: auto;
        height: 1px;
        background-color: #ffffff;
        opacity: 0.4;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }


    &__btn {
        background-color: #212121;
        font-size: 14px;
        color: #999999;
        border: none;
        text-transform: uppercase;
        padding-left: 0;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            color: rgba(255, 47, 0, 0.4);
        }
    }

    &__arrow {
        transform: scaleX(.5);
        display: inline-block;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    color: #aaaaaa;

    &__line-1 {
        margin-bottom: 9px;
    }

    @media all and (max-width: 767px) {
        align-items: center;
        justify-content: flex-start;
    }

    @media all and (max-width: 841px) {
        font-size: 11px;  
    }
    
}

.buttons {
    display: flex;
    align-items: center;

    &__container {
        margin: 0 auto;
        background-color:rgba(223, 223, 223, 0.39);
        border-radius: 10px;
        border: solid 1px #000000;
        overflow: hidden;
    }

    &__element {
        background-color: #565656;
        padding: 11px 12px 9px 12px;
        border: none;
        font-size: 13px;
        color: #f2f2f2;
        text-transform: uppercase;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 3px;
        }

        @media all and (max-width: 841px) {
            font-size: 10px;
            padding: 7px 7px 5px 7px;
        }
    }
}
