@font-face {
  font-family: 'CurlzMT';
  src: url("../fonts/woff/CurlzMT.woff2") format("woff2"), url("../fonts/woff/CurlzMT.woff") format("woff"), url("../fonts/ttf/CurlzMT.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'SSP-Black';
  src: url("../fonts/woff/SourceSansPro-Black.woff2") format("woff2"), url("../fonts/woff/SourceSansPro-Black.woff") format("woff"), url("../fonts/ttf/SourceSansPro-Black.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'SSP-Bold';
  src: url("../fonts/woff/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/woff/SourceSansPro-Bold.woff") format("woff"), url("../fonts/ttf/SourceSansPro-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'SSP-Regular';
  src: url("../fonts/woff/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/woff/SourceSansPro-Regular.woff") format("woff"), url("../fonts/ttf/SourceSansPro-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'SSP-Semibold';
  src: url("../fonts/woff/SourceSansPro-Semibold.woff2") format("woff2"), url("../fonts/woff/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/ttf/SourceSansPro-Semibold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'ThirstySED';
  src: url("../fonts/woff/ThirstyScriptExtraboldDemo.woff2") format("woff2"), url("../fonts/woff/ThirstyScriptExtraboldDemo.woff") format("woff"), url("../fonts/ttf/ThirstyScriptExtraboldDemo.ttf") format("ttf");
  font-display: swap;
}

body {
  font-family: "SSP-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #efefef;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ol {
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-header {
  text-align: center;
}

.section-header__subtitle_black {
  font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
  font-size: 27px;
  letter-spacing: 1.9px;
  margin-bottom: 32px;
}

.section-header__subtitle_multicolored {
  font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 2.6px;
  text-transform: capitalize;
}

.section-header__text {
  max-width: 768px;
  margin: 0 auto;
  line-height: 33px;
}

.section-header__span {
  color: #ff5101;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #8d8d8d;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  outline: none;
}

.swiper-pagination-bullet-active {
  background-color: #ff3d00;
}

.swiper-button-disabled {
  opacity: 0;
}

.wr-main {
  background-image: url("../img/dest/header/main-bg.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center bottom;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px;
}

.logo {
  font-family: "CurlzMT", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 59px;
  text-transform: uppercase;
  padding-left: 13px;
  padding-top: 31px;
  letter-spacing: -2.5px;
}

.logo span {
  font-size: 39px;
  letter-spacing: -3px;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  padding-top: 5px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.1px;
}

.nav li {
  margin-left: 21px;
}

.nav a {
  font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.nav a:hover {
  color: #ff5400;
}

.wr-home {
  padding-top: 12vh;
}

.wr-home .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 22px;
}

.wr-home .wrapper > p {
  font-size: 18px;
  color: #fff;
  width: 610px;
  text-align: right;
  line-height: 35px;
  margin-top: 56px;
  margin-right: -22px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 12px 22px 10px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wr-home .title {
  font-family: "SSP-Black", Arial, Helvetica, sans-serif;
  text-align: right;
  text-transform: capitalize;
  position: relative;
}

.wr-home .title p {
  color: #ff5400;
  margin-bottom: 0px;
  margin-top: 50px;
  font-size: 48px;
  letter-spacing: 0.2px;
}

.wr-home .title h1 {
  color: #fff;
  font-size: 48px;
  margin: 0;
  padding-top: 2px;
}

.wr-home .title h1::after {
  content: " ";
  width: 138px;
  height: 3px;
  background-color: #ff5400;
  position: absolute;
  top: 221px;
  right: 2px;
}

.wr-home .title span {
  font-size: 60px;
}

.wr-home .btn {
  font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
  color: #ff4800;
  font-size: 20px;
  text-transform: capitalize;
  width: 190px;
  height: 55px;
  border: 3px solid #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 22px;
  margin-right: 45px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wr-home .btn:hover {
  background-color: #ff4800;
  color: #fff;
}

.wr-intro {
  padding-top: 55px;
  padding-bottom: 136px;
}

.wr-intro .wrapper {
  max-width: 1010px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wr-intro h2 {
  font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 2.6px;
  margin-top: 31px;
  text-transform: capitalize;
}

.wr-intro h2 span {
  color: #ff5101;
}

.wr-intro p {
  margin-top: 36px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.4px;
}

.wr-services {
  background-color: #dfe3e3;
  padding-top: 87px;
  padding-bottom: 50px;
}

.wr-services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wr-services__box {
  margin-left: 15px;
}

.box__icon_clock {
  margin-left: -23px;
}

.box__icon_aircraft {
  margin-top: 8px;
}

.box__chapter {
  font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  margin-left: -20px;
  margin-bottom: 29px;
}

.box__chapter_color_blue {
  color: #0072ff;
}

.box__chapter_color_orange {
  color: #ff8309;
}

.box__chapter_color_purple {
  color: #c602ff;
}

.box__chapter_color_pink {
  color: #fb016b;
}

.box__list {
  line-height: 25px;
  letter-spacing: 0.75px;
  font-size: 15px;
}

.wr-articles {
  padding-top: 71px;
  padding-bottom: 55px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wr-articles__subtitle_black {
  margin-bottom: 35px;
}

.wr-articles__box {
  min-width: 1350px;
  position: relative;
  margin-top: 100px;
  height: 400px;
}

.articles-slider {
  width: 1203px;
  height: 360px;
}

.articles-slider__wrapper {
  margin: 0 15px;
}

.articles-slider__slide {
  max-width: 369px;
  max-height: 364px;
  margin: 0 15px;
  padding: 44px 30px 51px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.articles-slider__slide::before {
  content: "";
  width: 75px;
  height: 7px;
  position: absolute;
  background-color: #e64a19;
  top: -3px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.articles-slider__slide_color_blue {
  border: 3px solid #00aeef;
}

.articles-slider__slide_color_pink {
  border: 3px solid #f5989d;
}

.articles-slider__slide_color_pink::before {
  content: "";
  width: 75px;
  height: 7px;
  position: absolute;
  background-color: #ed145b;
  top: -3px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.articles-slider__slide_color_purple {
  border: 3px solid #92278f;
}

.articles-slider__caption {
  font-size: 14px;
  color: #ff5a00;
  text-transform: uppercase;
  letter-spacing: 1.05px;
}

.articles-slider__desc {
  font-size: 24px;
  letter-spacing: 1.8px;
  line-height: 33px;
  margin-top: 24px;
}

.articles-slider__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
}

.photo {
  width: 62px;
  height: 60px;
  margin-right: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.photo__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center center;
     object-position: center center;
}

.author__name {
  font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ff4301;
  margin-bottom: 5px;
  margin-top: 10px;
  letter-spacing: 1.05px;
}

.author__time {
  font-size: 14px;
  letter-spacing: 1.05px;
}

.articles-arrow__left {
  position: absolute;
  outline: none;
  cursor: pointer;
  top: 166px;
  left: 30px;
}

.articles-arrow__right {
  position: absolute;
  right: 9px;
  top: 166px;
  outline: none;
  cursor: pointer;
}

.wr-clients {
  padding-top: 36px;
  padding-bottom: 36px;
}

.wr-clients__wrapper {
  position: relative;
  padding: 0 5px;
}

.wr-clients__subtitle {
  text-align: center;
  letter-spacing: 2.03px;
}

.clients-slider {
  width: 784px;
  margin-top: -6px;
}

.clients-slider__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  -o-object-position: center center;
     object-position: center center;
}

.clients-slider__slide {
  max-width: 160px;
  height: 150px;
  margin: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-slider__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 142px;
}

.clients-slider__logo_wave {
  width: 115px;
  height: 113px;
  border: 5px solid #898989;
  border-radius: 50%;
}

.clients-slider__logo_snail {
  border: 3px solid #000000;
  border-radius: 10px;
  width: 132px;
  height: 106px;
}

.clients-arrow__right {
  position: absolute;
  right: 46px;
  top: 107px;
  outline: none;
  border: 1px solid #898989;
  padding: 10px 17px 6px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.clients-arrow__left {
  position: absolute;
  left: 46px;
  top: 107px;
  outline: none;
  border: 1px solid #898989;
  padding: 10px 17px 6px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.wr-portfolio {
  padding-top: 115px;
  padding-bottom: 100px;
}

.wr-portfolio__section-header {
  position: relative;
}

.wr-portfolio__text {
  position: relative;
}

.wr-portfolio__text::after {
  content: "";
  width: 75px;
  height: 7px;
  background-color: #e64a19;
  position: absolute;
  bottom: -52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wr-portfolio__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 86px;
}

.wr-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wr-portfolio__item {
  margin: 0 14px;
  letter-spacing: 1.2px;
  color: #212121;
  cursor: pointer;
}

.wr-portfolio__active {
  color: #ff5400;
}

.slick {
  margin: 0 auto;
  margin-top: 3px;
  max-width: 1500px;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick__slide {
  border: 1px solid #f7941d;
  border-radius: 10px;
  height: 360px;
  margin: 0 1px;
  overflow: hidden;
}

.slick__slide:hover {
  height: 410px;
}

.slick__slide:focus {
  outline: none;
}

.slick__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
}

.slick .slick-list {
  margin-left: 16px;
  padding: 0 10% 0 0;
}

.slick .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots {
  bottom: -53px;
}

.slick-dots li {
  width: 13px;
  margin: 0 5px;
}

.slick-dots li button:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #8d8d8d;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background-color: #ff3d00;
  opacity: 1;
}

.wr-quote {
  background-color: #4e4e4e;
  padding-top: 112px;
  padding-bottom: 123px;
  max-width: 1500px;
  margin: 0 auto;
}

.wr-quote__text {
  font-size: 24px;
  text-align: center;
  color: #fff;
  font-style: oblique;
}

.wr-quote__span {
  color: #ff3d00;
}

.wr-team {
  padding-top: 75px;
  padding-bottom: 57px;
}

.wr-team__text {
  margin-top: 41px;
}

.wr-team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1078px;
  padding-top: 10px;
  margin: 50px 0;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 10px 10px;
  width: 175px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.member__ava {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.member__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center top;
     object-position: center top;
}

.member__name {
  font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 0px;
}

.member__position {
  letter-spacing: -0.5px;
  margin-top: 13px;
}

.wr-consult {
  background-image: url("../img/dest/consult/mountains.jpg");
  background-size: cover;
  background-position: left center;
  height: 651px;
  padding: 20px 0;
  max-width: 1500px;
  margin: 0 auto;
}

.wr-consult__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wr-consult__content {
  width: 686px;
  margin-right: 97px;
  padding-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wr-consult__subtitle {
  color: #fff;
  font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 2.21px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 85px 45px 85px;
  margin-top: 22px;
  background-color: rgba(255, 255, 255, 0.34);
  position: relative;
}

.progress__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
}

.progress__ring {
  width: 50px;
  height: 50px;
  border: 8px solid #ff3d00;
  border-radius: 50%;
  border-left: 8px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress__number {
  font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #eee;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.progress__orange {
  color: #ff4800;
}

.progress__subtitle {
  font-size: 13px;
  text-transform: capitalize;
  color: #eee;
  letter-spacing: 1.5px;
  margin-top: 17px;
  margin-bottom: 10px;
}

.progress::after {
  content: "";
  width: 63px;
  height: 6px;
  background-color: #e64a19;
  position: absolute;
  top: 274px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wr-food {
  padding-top: 44px;
}

.wr-food__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wr-food__subtitle {
  font-family: "ThirstySED", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #2c2c2c;
  text-transform: capitalize;
}

.wr-food__orange {
  color: #ff3f04;
}

.wr-food__container {
  margin: 0 auto;
}

.wr-food__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 14px;
}

.picture {
  width: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.picture__item {
  width: 352px;
  height: 146px;
  border: 2px solid #f7941d;
  border-radius: 10px;
  overflow: hidden;
}

.picture__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.description {
  width: 355px;
}

.description__item {
  padding-right: 81px;
}

.description__date {
  font-size: 8px;
}

.description__subtitle {
  font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: 9px;
}

.description__text {
  font-size: 9px;
  line-height: 16px;
  margin-top: 29px;
}

.food-active {
  padding-bottom: 42px;
  padding-top: 28px;
  width: 864px;
}

.food-active .picture__item {
  width: 452px;
  height: 303px;
}

.food-active .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food-active .description__item {
  padding: 0;
}

.food-active .description__date {
  font-size: 11px;
}

.food-active .description__subtitle {
  font-size: 19px;
}

.food-active .description__text {
  font-size: 13px;
  line-height: 23px;
}

.wr-tweets {
  padding-top: 55px;
  padding-bottom: 95px;
}

.wr-tweets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wr-tweets__twitter {
  width: 27px;
  height: 22px;
  margin-bottom: 37px;
  overflow: hidden;
}

.wr-tweets__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.wr-tweets__girl {
  width: 91px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 42px;
  overflow: hidden;
}

.wr-tweets__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.wr-tweets__text {
  padding: 0 144px;
  text-align: center;
  margin-bottom: 18px;
}

.wr-tweets__item {
  font-size: 20px;
  line-height: 38px;
}

.wr-tweets__span {
  font-family: "SSP-Bold", Arial, Helvetica, sans-serif;
}

.wr-footer {
  background-color: #212121;
  height: 490px;
}

.wr-footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 453px) (minmax(auto, 120px) 80px)[3] minmax(auto, 117px);
  grid-template-columns: minmax(auto, 453px) repeat(3, minmax(auto, 120px) 80px) minmax(auto, 117px);
  -ms-grid-rows: 75px 90px 189px 30px 106px;
  grid-template-rows: 75px 90px 189px 30px 106px;
  position: relative;
}

.wr-footer__caption {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

.wr-footer__module-1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
}

.wr-footer__module-2 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
}

.wr-footer__module-3 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 1;
  grid-column-end: 8;
}

.wr-footer__form {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

.wr-footer__send {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 8;
  grid-column-end: 9;
}

.wr-footer__copyright {
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

.wr-footer__buttons {
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-column-span: 3;
  grid-column-end: 9;
}

.wr-footer__heading {
  font-family: "CurlzMT", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4.49px;
  margin-top: 0;
  margin-bottom: 23px;
}

.wr-footer__span {
  font-size: 21px;
  color: #ff3000;
}

.wr-footer__text {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin: 0;
}

.module {
  margin: 0 auto;
  margin-top: 8px;
}

.module__heading {
  font-family: "SSP-Semibold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #dddddd;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.module__list {
  margin: 0;
}

.module__item {
  margin-bottom: 6px;
}

.module__link {
  font-size: 14px;
  color: #999999;
}

.module__link:hover {
  color: #ff4800;
}

.wr-footer__form {
  padding-top: 39px;
  position: relative;
}

.form__item {
  font-size: 14px;
  color: #999999;
  background-color: #212121;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 198px;
  padding-left: 0;
  margin-bottom: 22px;
}

.form__item:first-child {
  margin-right: 27px;
}

.form__item::-webkit-input-placeholder {
  text-transform: uppercase;
}

.form__item::-moz-placeholder {
  text-transform: uppercase;
}

.form__item:-ms-input-placeholder {
  text-transform: uppercase;
}

.form__item::-ms-input-placeholder {
  text-transform: uppercase;
}

.form__item::placeholder {
  text-transform: uppercase;
}

.form__item:focus {
  outline: none;
  border-color: rgba(255, 47, 0, 0.4);
}

.form__item_long {
  resize: none;
  height: 16px;
  width: 428px;
  padding: 1px 2px 1px 0;
}

.wr-footer__send {
  position: relative;
}

.send::after {
  content: "";
  width: auto;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.send__btn {
  background-color: #212121;
  font-size: 14px;
  color: #999999;
  border: none;
  text-transform: uppercase;
  padding-left: 0;
  cursor: pointer;
}

.send__btn:focus {
  outline: none;
}

.send__btn:hover {
  color: rgba(255, 47, 0, 0.4);
}

.send__arrow {
  -webkit-transform: scaleX(0.5);
      -ms-transform: scaleX(0.5);
          transform: scaleX(0.5);
  display: inline-block;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #aaaaaa;
}

.copyright__line-1 {
  margin-bottom: 9px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons__container {
  margin: 0 auto;
  background-color: rgba(223, 223, 223, 0.39);
  border-radius: 10px;
  border: solid 1px #000000;
  overflow: hidden;
}

.buttons__element {
  background-color: #565656;
  padding: 11px 12px 9px 12px;
  border: none;
  font-size: 13px;
  color: #f2f2f2;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.buttons__element:hover {
  background-color: #ff4800;
}

.buttons__element:not(:last-child) {
  margin-right: 3px;
}

@media all and (min-width: 796px) {
  .swiper-pagination {
    display: none;
  }
}

@media all and (max-width: 1366px) {
  .logo {
    font-size: 40px;
    letter-spacing: 1px;
  }

  .logo span {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .nav a {
    font-size: 14px;
  }

  .wr-home .wrapper > p {
    font-size: 15px;
    margin-top: 32px;
    line-height: 25px;
    width: 510px;
  }

  .wr-home .title p {
    font-size: 35px;
    margin-top: 0px;
  }

  .wr-home .title h1 {
    font-size: 35px;
  }

  .wr-home .title h1::after {
    top: 113px;
    width: 95px;
  }

  .wr-home .title span {
    font-size: 45px;
  }

  .wr-home .btn {
    margin-top: 5px;
    font-size: 18px;
    width: 172px;
    height: 47px;
  }

  .wr-articles__box {
    min-width: 1200px;
  }

  .articles-slider {
    width: 1050px;
  }

  .articles-slider__wrapper {
    margin: 0 -1px;
  }

  .articles-slider__slide {
    max-width: 320px;
    max-height: 305px;
    padding: 18px 30px 21px 35px;
  }

  .articles-slider__desc {
    font-size: 18px;
    line-height: 29px;
  }

  .articles-arrow__left {
    left: 60px;
    top: 144px;
  }

  .articles-arrow__right {
    right: 60px;
    top: 144px;
  }
}

@media all and (max-width: 1214px) {
  .wr-footer__buttons {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 5;
    grid-column-end: 9;
  }
}

@media all and (max-width: 1190px) {
  .slick {
    height: 340px;
  }

  .slick__slide {
    height: 300px;
  }

  .slick__slide:hover {
    height: 340px;
  }
}

@media all and (max-width: 1111px) {
  .wr-articles__box {
    min-width: 895px;
  }

  .articles-slider {
    width: 700px;
  }

  .wr-consult__content {
    width: 444px;
  }

  .progress {
    padding: 15px 45px 22px 45px;
    margin-top: 20px;
  }

  .progress__block {
    width: 128px;
  }

  .progress::after {
    top: 251px;
  }
}

@media all and (max-width: 1058px) {
  .wr-tweets__text {
    padding: 0 65px;
  }
}

@media all and (max-width: 1024px) {
  .wr-services__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 702px;
  }

  .slick .slick-list {
    padding: 0;
    margin-right: 14px;
  }
}

@media all and (max-width: 991px) {
  .clients-slider {
    width: 528px;
  }

  .clients-slider__slide {
    max-width: 140px;
  }

  .clients-arrow__right {
    right: 59px;
    top: 110px;
  }

  .clients-arrow__left {
    left: 59px;
    top: 110px;
  }

  .wr-consult__content {
    margin-right: 13px;
  }
}

@media all and (max-width: 950px) {
  .slick {
    height: 275px;
    margin-top: 10px;
  }

  .slick__slide {
    height: 260px;
  }

  .slick__slide:hover {
    height: 300px;
  }

  .picture {
    width: 359px;
  }

  .picture__item {
    width: 280px;
    height: 110px;
  }

  .description__item {
    padding-right: 112px;
  }

  .description__text {
    font-size: 8px;
    line-height: 12px;
    margin-top: 0;
  }

  .food-active {
    padding-bottom: 32px;
    padding-top: 18px;
    width: 764px;
  }

  .food-active .picture__item {
    width: 355px;
    height: 195px;
  }

  .food-active .picture {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 359px;
  }
}

@media all and (max-width: 947px) {
  .wr-footer__buttons {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 6;
    grid-column-end: 9;
  }
}

@media all and (max-width: 900px) {
  .wr-tweets__text {
    padding: 0;
  }
}

@media all and (max-width: 841px) {
  .module__heading {
    font-size: 13px;
  }

  .module__item {
    margin-bottom: 4px;
  }

  .module__link {
    font-size: 12px;
  }

  .copyright {
    font-size: 11px;
  }

  .buttons__element {
    font-size: 10px;
    padding: 7px 7px 5px 7px;
  }
}

@media all and (max-width: 798px) {
  .wr-food__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .picture {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .description__item {
    padding: 0 66px;
  }

  .food-active {
    width: 359px;
  }
}

@media all and (max-width: 796px) {
  .clients-slider {
    height: 185px;
  }
}

@media all and (max-width: 795px) {
  .articles-arrow__left {
    display: none;
  }

  .articles-arrow__right {
    display: none;
  }

  .clients-arrow__right {
    display: none;
  }

  .clients-arrow__left {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .wr-articles__box {
    min-width: 510px;
    height: 280px;
    margin-top: 34px;
  }
}

@media all and (max-width: 767px) {
  .section-header__subtitle_black {
    margin-bottom: 20px;
  }

  .section-header__subtitle_multicolored {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section-header__text {
    max-width: 430px;
    font-size: 14px;
    line-height: 22px;
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin: 0 3px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px;
  }

  .logo {
    padding-top: 10px;
    font-size: 20px;
    padding-left: 0;
  }

  .logo span {
    font-size: 13px;
  }

  .nav {
    position: fixed;
    left: 0px;
    top: -100%;
    width: 100%;
    height: 165px;
    background-color: #ff5500;
    border-radius: 0 0 10px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav.active {
    top: 0;
  }

  .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5px;
  }

  .nav li {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .nav a {
    font-size: 18px;
  }

  .nav a:hover {
    color: #212121;
  }

  .burger {
    position: absolute;
    top: 27px;
    right: 17px;
    width: 30px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
  }

  .burger.active {
    position: fixed;
  }

  .burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 9px;
  }

  .burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger::before,
  .burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .wr-home .wrapper > p {
    font-size: 11px;
    line-height: 17px;
    width: 295px;
    margin-right: 0px;
    padding: 9px 6px 7px 6px;
    margin-top: 24px;
    margin-bottom: 7px;
    text-align: center;
  }

  .wr-home .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wr-home .title p {
    font-size: 32px;
  }

  .wr-home .title h1 {
    font-size: 32px;
    padding-top: 0;
  }

  .wr-home .title h1::after {
    right: 50%;
    -webkit-transform: translate(50%);
        -ms-transform: translate(50%);
            transform: translate(50%);
    width: 53px;
    top: 111px;
  }

  .wr-home .title span {
    font-size: 45px;
  }

  .wr-home .title {
    text-align: center;
  }

  .wr-home .btn {
    font-size: 19px;
    width: 178px;
    height: 44px;
    margin-right: 0;
    margin-top: 4px;
  }

  .wr-intro {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .wr-intro p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
  }

  .wr-services {
    padding-top: 47px;
    padding-bottom: 34px;
  }

  .wr-services__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .wr-articles {
    padding-top: 10px;
    padding-bottom: 34px;
  }

  .articles-slider {
    width: 510px;
    height: 280px;
  }

  .articles-slider__slide {
    max-width: 225px;
    max-height: 225px;
    padding: 15px;
  }

  .articles-slider__slide::before {
    width: 50px;
    height: 5px;
  }

  .articles-slider__slide_color_pink::before {
    width: 50px;
    height: 5px;
  }

  .articles-slider__caption {
    font-size: 12px;
  }

  .articles-slider__desc {
    font-size: 12px;
    line-height: 19px;
    margin-top: 20px;
  }

  .articles-slider__author {
    margin-top: 20px;
  }

  .photo {
    width: 52px;
    height: 50px;
  }

  .author__name {
    font-size: 11px;
  }

  .author__time {
    font-size: 11px;
  }

  .wr-clients {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wr-portfolio {
    padding-top: 30px;
    padding-bottom: 66px;
  }

  .wr-portfolio__text::after {
    bottom: -30px;
    width: 55px;
    height: 5px;
  }

  .wr-portfolio__navigation {
    margin-top: 39px;
  }

  .wr-portfolio__item {
    font-size: 14px;
  }

  .slick {
    height: 220px;
  }

  .slick__slide {
    height: 215px;
  }

  .slick__slide:hover {
    height: 255px;
  }

  .slick-dots li {
    margin: 0 3px;
  }

  .slick-dots li button:before {
    width: 13px;
    height: 13px;
  }

  .wr-quote {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .wr-team {
    padding-top: 34px;
    padding-bottom: 10px;
  }

  .wr-team__text {
    margin-top: 17px;
    font-size: 14px;
  }

  .wr-team__members {
    margin: 14px 0;
  }

  .member {
    padding-top: 10px;
  }

  .member__ava {
    width: 80px;
    height: 80px;
  }

  .member__name {
    font-size: 13px;
    margin-top: 15px;
  }

  .member__position {
    font-size: 12px;
    margin-top: 7px;
  }

  .wr-consult {
    height: 460px;
  }

  .wr-consult__content {
    padding-top: 30px;
    width: 340px;
  }

  .progress {
    padding: 10px 20px 23px 20px;
    margin-top: 0;
  }

  .progress__ring {
    width: 30px;
    height: 30px;
    border: 4px solid #ff3d00;
    border-left: 4px solid #fff;
  }

  .progress__number {
    font-size: 13px;
  }

  .progress::after {
    width: 41px;
    height: 5px;
    top: 191px;
  }

  .wr-footer__container {
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: 130px 181px 30px 61px 88px;
    grid-template-rows: 130px 181px 30px 61px 88px;
  }

  .wr-footer__caption {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .wr-footer__form {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .wr-footer__send {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .wr-footer__copyright {
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .wr-footer__buttons {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .wr-footer__heading {
    text-align: center;
    margin-top: 39px;
  }

  .wr-footer__text {
    text-align: center;
    margin-bottom: 10px;
  }

  .module {
    display: none;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__item {
    width: 430px;
  }

  .form__item:first-child {
    margin-right: 0;
  }

  .copyright {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media all and (max-width: 580px) {
  .clients-slider {
    width: 390px;
    height: 165px;
  }

  .clients-slider__slide {
    height: 123px;
    max-width: 120px;
    margin: 0 5px;
  }

  .clients-slider__logo {
    width: 80px;
  }

  .clients-slider__logo_wave {
    width: 70px;
    height: 70px;
  }

  .clients-slider__logo_snail {
    width: 80px;
    height: 70px;
  }
}

@media all and (max-width: 570px) {
  .wr-team__members {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5px 0;
  }
}

@media all and (max-width: 550px) {
  .wr-services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wr-services__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }

  .box__icon_clock {
    margin: 0 auto;
  }

  .box__chapter {
    margin-bottom: 0px;
    margin-left: 0;
  }

  .wr-articles__box {
    min-width: 290px;
    height: 305px;
  }

  .articles-slider {
    width: 290px;
    height: 305px;
  }

  .articles-slider__slide {
    max-width: 280px;
    max-height: 260px;
    margin: 0 5px;
    padding: 25px;
  }

  .articles-slider__slide::before {
    width: 60px;
    height: 6px;
  }

  .articles-slider__slide_color_pink::before {
    width: 60px;
    height: 6px;
  }

  .articles-slider__caption {
    font-size: 14px;
    margin-top: 7px;
  }

  .articles-slider__desc {
    font-size: 17px;
    line-height: 22px;
  }

  .articles-slider__author {
    margin-top: 25px;
  }

  .photo {
    width: 62px;
    height: 60px;
  }

  .author__name {
    font-size: 13px;
  }

  .author__time {
    font-size: 13px;
  }

  .wr-tweets {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .wr-tweets__twitter {
    width: 17px;
    height: 15px;
    margin-bottom: 24px;
  }

  .wr-tweets__girl {
    width: 61px;
    height: 61px;
    margin-bottom: 22px;
  }

  .wr-tweets__item {
    font-size: 13px;
    line-height: 22px;
  }

  .wr-tweets__span {
    font-size: 11px;
  }

  .wr-footer__text {
    font-size: 12px;
    line-height: 19px;
  }

  .form__item {
    width: 271px;
  }

  .form__item_long {
    width: 271px;
  }
}

@media all and (max-width: 480px) {
  .section-header__subtitle_black {
    font-size: 19px;
  }

  .section-header__subtitle_multicolored {
    font-size: 22px;
  }

  .section-header__text {
    max-width: 280px;
    font-size: 12px;
    line-height: 19px;
  }

  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    margin: 0 1px;
  }

  .wr-intro h2 {
    font-size: 22px;
    margin-top: 15px;
  }

  .wr-intro p {
    font-size: 12px;
    line-height: 19px;
  }

  .wr-portfolio__navigation {
    margin-top: 36px;
  }

  .wr-portfolio__item {
    margin: 0 9px;
    font-size: 12px;
  }

  .slick {
    height: 270px;
  }

  .slick__slide {
    height: 290px;
  }

  .slick__slide:hover {
    height: 290px;
  }

  .slick-dots li {
    margin: 0 1px;
  }

  .slick-dots li button:before {
    width: 9px;
    height: 9px;
  }

  .wr-quote__text {
    font-size: 13px;
  }

  .wr-consult {
    height: 330px;
  }

  .wr-consult__subtitle {
    font-size: 19px;
  }
}

@media all and (max-width: 450px) {
  .clients-slider {
    width: 300px;
    height: 117px;
  }

  .clients-slider__slide {
    max-width: 90px;
    height: 90px;
  }

  .clients-slider__logo {
    width: 65px;
  }

  .clients-slider__logo_wave {
    width: 55px;
    height: 55px;
  }

  .clients-slider__logo_snail {
    width: 65px;
    height: 55px;
  }
}

@media all and (max-width: 424px) {
  .logo span {
    font-size: 12px;
  }

  .burger {
    width: 24px;
    height: 16px;
  }

  .burger span {
    top: 7px;
  }

  .burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }

  .burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 7px;
  }

  .wr-intro {
    padding-bottom: 23px;
  }

  .wr-intro p {
    margin-top: 0;
  }

  .wr-services {
    padding-bottom: 8px;
  }

  .box__chapter {
    font-size: 15px;
  }

  .box__list {
    font-size: 13px;
    line-height: 19px;
  }

  .wr-quote {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .member {
    width: 131px;
  }

  .member__ava {
    width: 65px;
    height: 65px;
  }

  .member__name {
    font-size: 12px;
    margin-top: 9px;
  }

  .member__position {
    font-size: 11px;
    margin-top: 3px;
  }

  .wr-consult__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wr-consult__content {
    width: 285px;
    margin-right: 0;
    padding-top: 50px;
  }

  .progress {
    padding: 10px 5px 23px 5px;
  }

  .progress__ring {
    width: 25px;
    height: 25px;
  }

  .progress__number {
    font-size: 11px;
  }

  .progress__subtitle {
    font-size: 11px;
  }

  .progress::after {
    top: 177px;
  }
}

@media all and (max-width: 410px) {
  .wr-food {
    padding-top: 19px;
  }

  .wr-food__wrapper {
    padding: 0 5px;
  }

  .wr-food__subtitle {
    font-size: 25px;
  }

  .picture {
    width: 234px;
  }

  .picture__item {
    width: 230px;
    height: 95px;
  }

  .description {
    width: 272px;
  }

  .description__item {
    padding: 0 30px;
  }

  .description__subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .food-active {
    width: 285px;
    padding-bottom: 22px;
    padding-top: 8px;
  }

  .food-active .picture__item {
    width: 285px;
    height: 160px;
  }

  .food-active .picture {
    width: 285px;
  }

  .food-active .description__date {
    font-size: 9px;
  }

  .food-active .description__subtitle {
    font-size: 17px;
    margin-bottom: 9px;
  }

  .food-active .description__text {
    font-size: 11px;
    line-height: 19px;
  }
}